.footer{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 50px;
}
